.carousel {
    align-items: center;
}

.carousel button:focus {
    outline: none;
}

.carousel button:hover {
    border-color: #AAAAAA;
    background-color: #999999;
}

.carousel div:has(button) {
    position: sticky;
    top: 120px;
}

.carousel [class*="item-provider"] {
    height: calc(100vh - 206px);
}

.carousel button {
    background-color: #AAAAAA;
    display: flex;
    font-size: 1rem;
    line-height: 1;
}

.carousel div:nth-of-type(1)>button::before {
    content: "<";
}

.carousel div:nth-of-type(2) {
    cursor: auto;
}

.carousel div:nth-last-of-type(1)>button::before {
    content: ">";
}

@media (max-width: 759px) {
    .carousel button {
        display: none !important;
    }
}